body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #412410;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#display {
    width: 100%;
    height: 50px;
    background-color: #d1bead;
    border: none;
    text-align: right;
    font-size: 2em;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    height: 60px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #bd8a6b;
    color: white;
}

button.operator {
    background-color: rgb(125, 73, 46);
}

button.clear {
    background-color: #d1bead;
    grid-column: span 1; /* Adjust if needed for layout */
}

button:active {
    background-color: #777;
}